{{!-- will generate the comment with username, date, content, and edit option --}}

<div class = "container-comments">
  <div class="comments comments-list">
    {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}} on {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
        <a href="/single/edit/{{id}}">Edit</a>
      </div>
    </section>
    {{/each}}
  </div>
</div>