<<<<<<< HEAD
<div class="comments comments-list">
=======
{{!-- will generate the comment with username, date, content, and edit option --}}

<div class="comments">
>>>>>>> 54e0021075bfbd5712261dd5a4c6ce21e76872a4
  {{#each this}}
  <section class="comment comment-body">
    <div class="meta comment-heading">
      <h4 class="user">{{user.username}}</h4>
      <h5 class="time">{{format_date created_at}}</h5>
    </div>
    <p class="text">
      {{comment_text}}
      <a href="/single/edit/{{id}}">Edit</a>
    </p>
  </section>
  {{/each}}
</div>

<!--test
<div class="comment-body">
  <div class="comment-heading">
      <h4 class="user">Lauren Petriella</h4>
      <h5 class="time">7 minutes ago</h5>
  </div>
  <p>First comment.</p>
</div>
-->
