<div class="title-bar">
  <h1>Your Fluffy Potato Dashboard</h1>
  <nav class="subnav">
    <span class="dash-link">Check Out Your:</span>
    <a class="dash-link" href="/dashboard#your-posts">Photos</a> |
    <a class="dash-link" href="/dashboard/likes">Liked Photos</a> |
    <a class="dash-link" href="/dashboard/dislikes">Disliked Photos</a>
  </nav>
</div>