<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fluffy Potato</title>
  {{!-- adding font awesome for like/dislike --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <section class="header-content">
        <h1 id="header-logo">Fluffy Potato Photos</h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/dashboard">Dashboard</a>
            </li>
            <li>
              {{!-- toggles depending on if the user is signed in or not --}}
              {{#if loggedIn}}
              <a href="#" id="logout">Sign Out</a>
              {{else}}
              <a href="/login{{#if nextUrl}}?_next={{nextUrl}}{{/if}}">Sign In</a>
              {{/if}}
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <content>
      {{{ body }}}
    </content>
    <footer>
      
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>