<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fluffy Potato</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styleMVP.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  </head>

  <body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Fluffy Potato</a>
      </h1>
      <nav>
        {{!-- screen render is determined by logged in status --}}
        {{#if loggedIn}}
        <a class="btn-no-style" href="/">Homepage</a>
        <a class="btn-no-style" href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a class="btn-no-style" href="/">Homepage</a>
        <a class="btn-no-style" href="/dashboard">Dashboard</a>
        <a class="btn-no-style" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
        &copy; 2022 Michael Gordon, Kerry Long, Matthew Petriella
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  </body>
</html>