  <section>
    <img src="{{userAvatar}}" />
    <h2>Your Blog Posts</h2>
    <p style="text-transform: capitalize;">{{userName}}</p>
    <br>
    <a href="/dashboard/new" class="add-link edit-post-btn">Create New</a>
    <ul class="dashboard-posts" style="list-style-type:none;">
      {{#each posts as |post|}}
      <li class="user-post post-container">
        {{!-- brings in the partial --}}
        {{> post-info post}}
        {{!-- link to post edit page with specific post by id --}}
        
        <a href="/dashboard/edit/{{post.id}}" class="post-edit-link">Edit Blog Post</a>
      </li>
      {{/each}}
    </ul>
  </section>