{{!-- edit comment view linked edit and delete buttons --}}

<article>
  <a href="/dashboard"> Return to dashboard</a>
  <h2>
    Edit Comment
  </h2>
  <form class="edit-comment-form">
    <div>
        <input type="text" name="comment-text" value="{{comment.comment_text}}" />
    </div>
    <button type="submit">Save Comment</button>
    <button type="button" class="delete-btn">Delete Comment</button>
  </form>
</article>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>