<div class = "container-homepage">
  <ul class="homepage-posts" style="list-style-type: none">
    {{#each posts as |post|}}
    <li class="user-post post-container">
      {{> post-info post }}
    </li>
    {{/each}}
  </ul>
</div>