{{!-- new post view linked to add post javascript --}}

<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="description">Body</label>
      <input type="text" id="description" name="description" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>