{{!-- {{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}
<div>

  <h4 class="comments">Comments:</h4>
  {{> comments  post.comments }}

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}} --}}

{{!-- provides a link back to dashboard --}}

<a href="/dashboard"> Return to dashboard</a>
  <br>
  <br>
{{!-- uses post-extend to give more info on the post --}}
<div class="post-wrapper">
    {{> post-info post }}
</div>
{{#if loggedIn}}
  <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Blog Post</a>
{{/if}}
<br>


{{!-- conditional only shows add comment if logged in --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}
<div>

  <h4 class="comments">Comments:</h4>
  {{> comments  post.comments }}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}