* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d8d8de;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
}

.container {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-comments {
  width: 100%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-postInfo {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-dashboard {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-editComment {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-editPost {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-error {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-homepage {
  width: 75%;
  margin: auto;
  background-color: rgb(228, 228, 228);
  padding: 10px;
}

.container-login {
  width: 75%;
  margin: auto;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-signup {
  width: 75%;
  margin: auto;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.container-singlePost {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

/* login.handlebars MVP */

form {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.login-form {
  width: 75%;
  margin: auto;
}

.signup-form {
  width: 75%;
  margin: auto;
}

form label {
  display: block;
}

form input {
  background-color: rgb(228, 228, 228);
}

/* main.handlebars MVP */

body,
html {
  justify-content: center;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(206, 152, 81);
  margin-bottom: 30px;
}

header h1 {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  display: inline;
}

header a {
  text-decoration: none;
  color: #000000;
}

header nav {
  justify-content: space-around;
  float: right;
  margin: 10px 10px 10px 10px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.text-area {
  width: 100%;
}

.form-input {
  width: 100%;
}

/* new-post.handlebars MVP */
.section-new-post h2 {
  text-align: center;
}

.new-post-form input {
  width: 75%;
  margin: auto;
}

/* edit-post.handlebar MVP */
.edit-post-form {
  width: 75%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

/* comments.handlebars MVP */

.comment {
  width: 100%;
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  padding: 10px;
}

.comment:nth-child(odd) {
  background-color: rgb(230, 226, 222);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

/*overall styling forMVP*/
a {
  text-decoration: none;
  color: rgb(206, 152, 81);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #c59f66;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.place-image {
  width: 100%;
  padding: .5rem;
}

@media only screen and (max-width: 579px){
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: left;
}

.post-left {
justify-self: left;
}

.post-right {
  justify-self: left;
  margin-top: 2rem;
}

.post-edit-link {
justify-self: left;
margin-top: auto;
padding-right: 2.5rem;
}
}
.dashboard-posts {
margin-right: 2rem;
}

/* .user-info {
display: flex;
}

.name-pic {
  justify-self: left;
}

.profile-update {
  justify-self: right;
} */

.profile-update {
  display: none;
}