/* Login/Signup Form MVP */

form {
    background-color:rgb(132, 152, 189);
    border: 2px solid black;
    width: 200px
  }
  
  form > div {
    padding: 10px;
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
    
  }
  
  form input {
    background-color:rgb(228, 228, 228);
  }


  /* Header/Footer MVP */

  header {
    margin: auto;
    border: 2px solid white;
    background-color:rgb(228, 228, 228);
    margin-bottom: 30px;
  }
  
  header h1 {
    margin: 20px;
    font-weight: bold;
    font-size: 36px;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color: #000000;
  }
  
  header nav {
    justify-content: space-around;
    float: right;
    margin: 10px 10px 10px 10px;
  }

footer {
    margin: auto;
    border: 2px solid white;
    background-color:rgb(228, 228, 228);
    margin-bottom: 30px;
}

