/* login.handlebars MVP */

form {
  border: 2px solid black;
  width: 200px;
}

form > div {
  padding: 10px;
  margin-bottom: 2%;
}

form label {
  display: block;
}

form input {
  background-color: rgb(228, 228, 228);
}

/* main.handlebars MVP */

body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  margin: auto;
  border: 2px solid white;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
}

header h1 {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  display: inline;
}

header a {
  text-decoration: none;
  color: #000000;
}

header nav {
  justify-content: space-around;
  float: right;
  margin: 10px 10px 10px 10px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

/* homepage.handlebars MVP */

.post-list {
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

/* new-post.handlebars MVP */

.new-post-form {
  width: 500px;
  padding: 10px;
  border: 2px solid black;
}
.new-post-form input {
  width: 350px;
}

/* edit-post.handlebar MVP */
.edit-post-form {
  width: 500px;
  padding: 10px;
  border: 2px solid black;
}
.edit-post-form input {
  width: 350px;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

/* comments.handlebars MVP */
.comment-form {
  margin-bottom: 5%;
  width: 100%;
  margin-top: 5rem;
}

.text-area {
  width: 100%;
}

.comment {
  border: 2px solid black;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: rgb(230, 226, 222);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

/* post-info.handlebars MVP */

.post {
  border: 2px solid black;
}

/*overall styling forMVP*/
a {
  text-decoration: none;
  color: rgb(206, 152, 81);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #c59f66;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.dashboard-posts .post {
  max-width: 350px;
}
.homepage-posts .post {
  max-width: 350px;
}


.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  justify-items: center;
}

.post-left {
  grid-column: 1;
  grid-row: 2/3;
  margin: 0 2rem 0 1.5rem;
}

.post-right {
  grid-column: 2/4;
  grid-row: 1/4;
}

.post-edit-link {
  /* grid-column: 2/3; */
  grid-row: 4/5;
}

.place-image {
  padding: .5rem;
}

@media only screen and (max-width: 579px){
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: left;
}

.post-left {
justify-self: left;
}

.post-right {
  justify-self: left;
  margin-top: 2rem;
}

.post-edit-link {
justify-self: left;
margin-top: auto;
padding-right: 2.5rem;
}
}
.dashboard-posts {
margin-right: 2rem;
}

/* .user-info {
display: flex;
}

.name-pic {
  justify-self: left;
}

.profile-update {
  justify-self: right;
} */

.profile-update {
  display: none;
}